# Testing Code

In [25]:
import dash # for app.py
from dash import html, dcc
from dash.dependencies import Input, Output
import dash_bootstrap_components as dbc # for index.py and app.py 
import pandas as pd

In [26]:
app = dash.Dash(__name__, external_stylesheets=[dbc.themes.SLATE])
server = app.server
app.scripts.config.serve_locally = True
server = app.server

# App Interface

In [ ]:
app.layout = dbc.Container(
        children = [

        ], fluid = True
)

if __name__ == '__main__':
    app.run_server(debug=True, port="8051")
    # app.run_server(host="0.0.0.0", port="8050")

## Reading Dataframe

In [28]:
df_data = pd.read_csv(r"D:\Repositories\Data-Science\Real_estate_sales_analysis\data\cleaned_data.csv", index_col=0)

In [29]:
df_data.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE,LATITUDE,LONGITUDE
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,,...,5,1633.0,6440.0,1900,2,C2,6625000.0,2017-07-19,40.72661,-73.97995
7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,,...,10,2272.0,6794.0,1913,2,C4,3936272.0,2016-09-23,40.72547,-73.98240
8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,,...,6,2369.0,4615.0,1900,2,C2,8000000.0,2016-11-17,40.72774,-73.98170
10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,,C4,210 AVENUE B,,...,8,1750.0,4226.0,1920,2,C4,3192840.0,2016-09-23,40.72857,-73.97880
13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,,D9,629 EAST 5TH STREET,,...,24,4489.0,18523.0,1920,2,D9,16232000.0,2016-11-07,40.72346,-73.98079

## Data Wrangling

### Mean Lat & Lon

In [21]:
mean_lat = df_data["LATITUDE"].mean()
mean_long = df_data["LONGITUDE"].mean()

### Size *Feet* to *M2*

In [34]:
df_data["size_m2"] = df_data["GROSS SQUARE FEET"] / 10.764

In [35]:
df_data["size_m2"].head()

4      598.290598
7      631.178001
8      428.743961
10     392.604980
13    1720.828688
Name: size_m2, dtype: float64

### Exclude all builts without year

In [37]:
df_data = df_data[df_data["YEAR BUILT"] > 0]

### Transform 'SALE DATE'(str) to (datetime)

In [38]:
df_data["SALE DATE"] = pd.to_datetime(df_data["SALE DATE"])

### Price & Size adjustment

In [40]:
df_data.loc[df_data["size_m2"] > 10000, "size_m2"] = 10000 # max built size = 10k
df_data.loc[df_data["SALE PRICE"] > 50000000, "SALE PRICE"] = 50000000 # max price value 50m
df_data.loc[df_data["SALE PRICE"] < 100000, "SALE PRICE"] = 100000 # min price value 100k

# Components

## Map

### imports

In [41]:
from dash import dcc
import dash_bootstrap_components as dbc
import plotly.graph_objects as go

### Figure

In [ ]:
fig = go.Figure()
fig.update_layout(template="plotly_dark", paper_bgcolor="rgba(0, 0, 0, 0)")

#### map

In [47]:
map = dbc.Row([
    dcc.Graph(id="map-graph", figure = fig)
], style={"height": "80vh"})

## Histogram

### Figure

In [ ]:
fig = go.Figure()
fig.update_layout(template="plotly_dark", paper_bgcolor="rgba(0, 0, 0, 0)")

### Histogram

In [50]:
hist = dbc.Row([
    dcc.Graph(id="hist-graph", figure = fig)
], style={"height": "20vh"})

# Layout

In [53]:
from _histogram import *
from _map import *

ModuleNotFoundError: No module named '_histogram'

In [ ]:
app.layout = dbc.Container(
        children = [
            dbc.Row([
                dbc.Col([], md=3),
                dbc.Col([], md=9)
            ])
        ], fluid = True
)

if __name__ == '__main__':
    app.run_server(debug=True, port="8050")